SERVER_ADDR=:8006
CORS_ORIGIN=http://localhost:3000

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=promptpay-qr
MINIO_USE_SSL=false
MINIO_URL_EXPIRY_MINS=15
